/* Global Styles (if any) */

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin: 0 auto;
    max-width: 60rem;
    /* Add any other styling as needed */
 
  }

  .section-one h2 {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 6rem;
    font-size: 4rem;
    text-align: center;
  }

  .section-one button {
    padding: 0.8rem;
    font-size: 1.2rem;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    margin: 1rem;
    z-index: 8;
   
  }

  .section-one button:hover {
    background-color: var(--gray-medium);
  }


  /* Global Styles (if any) */

@keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animated-section {
  
    animation: slideIn 1.5s ease-out; /* Adjust the animation duration and timing function as needed */
    /* Add any other styling as needed */
  }
  
  
