/* Estilos generales para pantallas más grandes */
.section-three {
    background-color: var(--gray-medium); /* Ajusta el color de fondo según sea necesario */
    padding: 4rem 0; /* Ajusta el relleno según sea necesario */
  }

  .section-three h3 {
    text-align: center;
    font-size: 2.5rem; /* Set the size for h3 */
    margin-bottom: 3rem;
    color: var(--gray-light);
    opacity: 0.9;
  }
  
  
  .container {
    max-width: 60rem;
    margin: 0 auto;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 para videos */
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    border-radius: 1rem;
  }
  
  /* Media query para pantallas más pequeñas (hasta 650px) */
  @media screen and (max-width: 650px) {
    .container {
      padding: 0 1rem; /* Ajusta el relleno lateral para pantallas más pequeñas */
    }
    .section-three {
        padding: 2rem 0;
    }
    .section-three h3 {
        text-align: center;
        font-size: 2rem; /* Set the size for h3 */
        margin-bottom: 2rem;
      }
  }
  